.product-details-item{
    display: flex;
    margin-top: 100px;
    padding: 20px 100px;
    gap: 30px;
}

.product-details-item-left{
    width: 50%;
}

.product-details-item-left img{
    width: 100%;
}

.product-details-item-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.product-details-item-right h1{
    font-size: 40px;
}

.product-details-item-right p{
    color: rgba(0, 0, 0, 0.678);
}

.product-details-item-right b{
    color: rgb(7, 238, 7);
}

.product-cat-brand-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-cat-brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-transform: capitalize;
}

.cat-brand{
    background-color: rgba(0, 128, 119, 0.404);
    padding: 6px 20px;
    color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.24);
}

.product-size-avaliable{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


.product-size-avaliable .size{
    background-color: rgb(0, 128, 119);
    padding: 10px 20px;
    color: azure;
}

.product-size-avaliable .size:hover{
    border: 1px solid red;
}

.addtocart{
    background-color: rgb(0, 128, 119);
    padding: 10px;
    border: none;
    color: azure;
    font-size: 15px;
    /* cursor: pointer; */
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.24);
    transition: 0.5s;
}

.addtocart:hover{
    background-color: rgb(2, 172, 161);
    color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.378);
}

.seller-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}

.product-size-quant{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.add-rem-btn{
    padding:5px 8px;
    background-color :rgb(2, 172, 161);
    border-radius: 100px;
    border: none;
    color: azure;
    cursor: pointer;
}

.more-then-one-qunt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.activeee{
    cursor: not-allowed;
}


@media (max-width: 420px){
    .product-details-item{
        flex-direction: column;
        padding: 20px;
    }

    .product-details-item-left{
        width: 100%;
    }

    .product-details-item-right h1{
        font-size: 30px;
    }
    
    .product-details-item-right p{
        font-size: 14px;
    }
    
    
    
    .product-size-avaliable .size{
        padding: 10px 15px;
        font-size: 12px;
    }
    
    
}