.about-container{
    display: flex;
    padding: 30px 100px;
}

.about-container img{
    width: 50%;
    margin-right: 20px;
}

.container-right{
    align-content: center;
    gap: 20px;
}

.container-right p{
    font-size: 13px;
    margin: 20px 0;
    text-align: justify;
}

.container-right h1{
    font-size: 40px;
}   

abbr{
    font-size: 15px;
}

marquee{
    font-size: 10px;
    margin: 20px 0;
}


@media (max-width: 420px){
    .about-container{
        flex-direction: column;
        padding: 20px 20px;
    }

    .about-container img {
        width: 100%;
        margin-bottom: 20px;
    }

   
}
